*/*/*/bd/*/ip/*/*.vhd

*/*/bd/*/ip/*/*.xml
*/*/*/bd/*/ip/*/*.xml

*.c
*.h
*.vho
*.html
*/*/bd/*/ip/*/*.tcl
*/*/*/bd/*/ip/*/*.tcl
hw_handoff
ipshared

 VSCODE
 .vscode/*
 .history/
 *.vsix

 .Xil/*
 part2_proj/*
 hardware/part2_proj

